// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// common

body {
  background: #999999;
  background: linear-gradient(-90deg, orange, #999999);
}
.top15 {
  margin-top: 15px;
}
.mx-5 {
  margin-left: 5px;
  margin-right: 5px;
}
.input-group {
  width: 100%;
}

.b-wrap {
  padding: 0 100px;

}
.btn {
  font-weight: bold;
}

// projects

.b-projects a {
  color: #fff;
}
.b-pr-title {
  display: inline;
  font-weight: bold;
}

// tasks

.b-tasks {
  padding: 0;
}
.b-tasks table {
  margin-bottom: 0;
  color: #666666;
}
.b-tasks table .col1 {
  width: 30px;
}
.b-tasks table .col2 {
  width: 5px;
  padding: 0;
}
.b-tasks table .col3 {}
.b-tasks table .col4 {
  width: 70px;
}
.b-tasks a {
  color: #666666;
}
.t-col-chb label {
  margin-bottom: 0;
}
.t-col-chb input[type=checkbox] {
  margin: 0;
}