// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// common

body {
  background: #999999;
  background: linear-gradient(-90deg, orange, #999999);
}
.disabled {
  pointer-events: none;
  opacity: 0.4;
}
.top15 {
  margin-top: 15px;
}
.mx-5 {
  margin-left: 5px;
  margin-right: 5px;
}
.input-group {
  width: 100%;
}

.b-wrap {
  padding: 0 100px;

}
.btn {
  font-weight: bold;
}

// projects

.b-projects a {
  color: #fff;
}
.b-pr-title {
  display: inline;
  font-weight: bold;
}

// tasks

.b-tasks {
  padding: 0;
}
.b-tasks {
  margin-bottom: 0;
  color: #666666;
}
.b-tasks .col1 {
  float: left;
  width: auto;
  padding: 0 10px;
  border-right: solid 1px #eee;
}
.b-tasks .col2 {
  width: 5px;
  padding: 0;
}
.b-tasks .col3 {
  float: left;
  width: auto;
  padding: 0 10px;
}
.b-tasks .col4 {
  float: right;
  width: auto;
  padding: 0 10px;
  border-left: solid 1px #eee;
}
.b-tasks a {
  color: #666666;
}
.t-col-chb label {
  margin-bottom: 0;
}
.t-col-chb input[type=checkbox] {
  margin: 0;
}

ul.sortable-tasks {
  width: 100%;
  float: left;
  clear: right;
  padding: 0px;
  margin: 0;
}
ul.sortable-tasks li {
  width: 100%;
  list-style: none;
  float: left;
  clear: left;
  padding: 5px 0;
  border-bottom: 1px solid #eee;
}